on: [push]
name: ci

env:
    INSTALL_SCOOP_PACKAGES: 'on'
    INSTALL_PYTHON_PACKAGES: 'on'
    INSTALL_NPM_PACKAGES: 'on'

permissions:
    contents: read

jobs:
    setup-env:
        name: Setup environment
        runs-on: windows-latest
        defaults:
            run:
                shell: pwsh
        steps:
            - name: Checkout
              uses: actions/checkout@v5
            - name: Setup environment
              run: . .\SetupEnv.ps1
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                name: env
                path: env
                compression-level: 9