on: [push]
name: ci

env:
    INSTALL_PACKAGES: 'off'

permissions:
    contents: read

jobs:
    setup-scoop:
        name: Setup Environment
        runs-on: windows-latest
        defaults:
            run:
                shell: pwsh
        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Environment
              run: . .\setup_env.ps1
            - name: Upload Environment Archive
              uses: actions/upload-artifact@v4
              with:
                name: env
                path: env
                compression-level: 9